body {
  /* background-color: #bde5c8; */
}

div {
  text-align: center;
  border: 1px solid rgb(153, 145, 174);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

div#d1 {
  background-color: rgb(204, 167, 173);
} 


div#d2 {
  background-color: rgb(200, 233, 178);
} 

div#d3 {
  background-color: rgb(169, 202, 227);
} 

