div {
  border: solid 3px rgb(172, 237, 176);
  padding: 30px;
}

div div {
  border: solid 3px rgb(218, 182, 242);
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
}