div {
  /* border: solid 3px rgb(240, 157, 193); */
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

body {
  height: 4000px;
  background-image: url("./res/imgs/enter.jpg");
  background-attachment: scroll;
}
